# Ignore build artifacts
dist/
node_modules/

# Ignore configuration files
config/
routes/

# Ignore specific directories
src/proto/
src/scripts/

# Ignore specific files
*.js
*.mjs
script_docs.ts

# Ignore the specific test file
src/llm/anthropic/llm.spec.ts
